@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: "Raleway", "sans-serif";/*font demandé*/
    margin: 0 auto; /*alignement de depart*/
    text-decoration: none; /*supprime ligne des link */
    max-width: 1400px; /*l'ecran reste identique >1400 px */
}
body {
    box-sizing: border-box;
}
/***     LINK    ***/
a {
    color: inherit;
    margin: 0;
    text-decoration: none;
}
/*** STARS COLOR ***/
.star-blue {
    color: #0065FC;
}
.star-grey {
    color: darkgray;
}
/*** LOGO + NAV ***/
header{
    display: flex;
    margin-top: 20px;
}
.logo{
    width: 62px;
    margin-left: 10px;
}
nav{
    display: flex;
    margin: 0;
}
.menu {
    display: flex;
}
nav a{
    padding: 15px 40px 0 40px;
    font-weight: 600;
    color: black
}
.slideborder  {
    padding-top: 15px;
}
.slideborder :hover{
    border-top: solid 3px #0065fc;
    color: #0065FC;
}
/***SEARCH BAR ***/
.searchBar{
    margin: 20px 0 0 20px;
}
.searchBar p {
    margin-top: 15px;
    font-size: 16px;
}


/*** RECHERCHE ***/
#form{
    display: block;
    width: 100%;
    margin-left: 25px;
    margin-top: 20px;
}

.fa-location-dot{
    border-radius: 15px 0px 0px 15px;
    width: 20px;
    background-color: #d2d2d2;
    height: 100%;
    cursor: pointer;
    margin: -5px;
    padding: 8px 14px 8px 18px;
}
.fa-solid.fa-location-dot{
    justify-content: center;
    align-items: center;
}

#input-search{
    border: 1px solid #D2D2D2;
    font-size: 18px;
    font-weight: bold;
    padding: 4px 0 5px 10px;
    margin-left: 0px;
    opacity: 30%;
    
    
}
.btn-search{
    border-radius: 0 14px 14px 0;
    background-color: #0065FC;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 17px 8px 17px;
    cursor: pointer;
    margin-left: -5px;
}

.btn-search i{
    display: none;
}
.btn-search:hover{
    box-shadow: 0 0 8px #0065FC;
}

/**FILTERS**/
.Filters{
display: block;
margin: 20px 0 0 20px;
}
.Filters label{
    font-weight: bold;
}
.btn {
    border: 2px solid  #D2D2D2;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    font-size: 17px;
    font-weight: bold;
}
.btnFilter .fa-solid {
    color: #0065FC;
    margin: 10px;
}
.btn:hover {
    background-color: #DEEBFF;
    box-shadow: 0 0 8px #d2d2d2;
    color: #0065FC;
}

/*** INFORMATION ***/
.info {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.info i, .info p {
    margin: 15px;
    font-size: 16px;
}

.logo_info {
    font-size: 16px;
    color: #0065fc;
    border: 1px #d9d9d9 solid;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
}

/*BLOCK HEBERGEMENT*/
.all-accomodation{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.accomMars {
    border-radius: 20px;
    width: 68%;
    background-color: #f2f2f2;
}
.accomMars h2 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 22px;
}
.mars-hotels {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0px 35px 0px;
}
.card-hebr {
    background-color: #ffff;
    border: 3px solid #ffff;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0px 8px black;
    transition: 0.2s;
    width: 29%;
}
.card-hebr img {
    width: 100%;
    height: 130px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.card-description {
    margin-left: 5px;
    font-size: 16px;
}
.card-description p, 
.card-description span {
    margin-left: 0px;
    font-size: 14px;
}
.more h3 {
    margin-left: 20px;
    margin-top: 0px;
    font-size: 18px;
}
.card-hebr:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 8px 0px #0065FC;
    cursor: pointer;
    color: #0065FC;
}
/***POPULAIRE***/
.pop-mars {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 30%;
    margin: 0;
    background-color: #f2f2f2;
}
.pop-mars-title {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    margin-top: 20px;
    margin: 20px 0px 0 30px;
}
.pop-mars-title i {
    color: #0065FC;
}
.pop-hotels {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 35px 0px;
}
.card-pop {
    display: flex;
    width: 91%;
    height: 140px;
    border-radius: 20px;
    box-shadow: 0 0px 8px black;
    transition: 0.2s;
    margin-bottom: 20px;
    border: 3px solid #ffff;
}
.card-pop img {
    width: 97px;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    margin: -1px;
}
.card-descr {
    display: flex;
    flex-direction: column;
    padding: 0% 0% 0% 1%;
    font-size: 14px;
    margin: -140px 0px 25px 102px;
}
.card-descr p {
    margin-top: 15px;
    margin-left: 0;
    font-size: 11px;
}
.card-star {
    margin: 30px 0 0 0;
}
.card-pop:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 8px 0px #0065FC;
    cursor: pointer;
    color: #0065FC;
}

/***ACTIVITES***/
.activity h3{
    margin: 50px 0 25px 30px;
    font-size: 22px;
}
.activityMarseille{
    display: flex;
    margin: 0;
    flex-direction: row;
}
.card-activity {
    width: 100%;
    margin-left: 20px;
    /* margin-right: 20px; */
    border-radius: 20px;
    box-shadow: 0 0 8px 8px #e2e2e2
 } 
.card-activity img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 440px;
    object-fit: cover;
}
.nameActivity {
    margin: 5px 0 0px 5px;
    padding: 5px;
}
.card-activity:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 8px 0px #0065FC;
    cursor: pointer;
    color: #0065FC;
}

/***FOOTER***/
footer {
    display: flex;
    background-color: #f2f2f2;
    margin: 50px 0px 0px 15px;
}
footer div,
footer p {
    margin-top: 1rem;
    font-size: 14px;
}
footer p:hover {
    color: #0065FC;
}
/*************************/
 

 /**************/
 /***Tablette***/
/**************/

@media screen and (min-width: 768px) and (max-width: 992px){

 /***LOGO+NAV***/
header{
    display: flex;
    }
.menu{
    margin-left: -100px;
    font-size: 12px;
    width: 100%;
}
/************/
    
 
/**TITRE**/
.searchBar h1  {
    font-size: 25px;
    margin: 0px;
    margin-top: 10px;
}
/************/

 /***BARRE NAV***/
    form{
    display: block;
    margin-top: 20px;
    margin-left: 0px;
    
}
    form button{
    background-color: white;
    margin: -5px;
}
    #input-search{
    border: 1px solid #D2D2D2;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 0 7px 10px;
    margin-left: 0px;
    opacity: 30%;
    width: 30%;
}
    .fa-solid.fa-magnifying-glass{
    display: none;
 }
button span{
    border-radius: 10px 14px 14px 1px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
    margin-left: -5px;
}    
/************/ 
 
 /***FILTRE***/
.filters{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
}
.btn-filter{
    margin: 0px;
}
.btn{
    margin-left: 5px;
    margin-right:5px;
    font-size: 17px;
    font-weight: bold;
}

.info{
    margin-top: 10px;
    font-size: 16px;
}
.info p {
    margin: 0;
}
/************/

 
 /***HEBERGEMENT&POPULAIRE***/
 .all-accomodation{
    display: flex;
    flex-direction: column;
    margin-bottom: -20px;
 }
 /***HEBERGEMENT***/
 .accomMars{
    display: block;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
 }
 .accomMars h2{
    font-size: 22px;
    margin-left: 20px;
 }
 .mars-hotels{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
 }
 .card-hebr{
    width: 29%;
    margin-right: 25px;
 }
 .card-hebr img{
    width: 100%;
 }
 .card-description p {
    font-size: 14px;
 }
 .more h3{
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 20px;
 }
 /***POPULAIRE***/
 .pop-mars{
    display: block;
    width: auto;
    padding: 0;
    margin: 20px;
 }
 .pop-mars-title{
    font-size: 22px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
 }
 .pop-mars-title i {
    margin: 0;
 }
 .pop-hotels{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 10px;
 }
 .card-pop{
    width: 30%;
    margin: -3px 22px 0 0px;
 }
 .card-pop img{
    width: 30%;
 }
 .card-descr{
    font-size: 14px;
    padding-top: 5px;
 }
 .card-descr p {
    margin: 0;
    font-size: 13px;
    margin-top: 10px;
}
 .card-star{
    margin: 0;
    padding-top: 20px;
    font-size: 12px;
}
/************/


 /***ACTIVITE***/
 .activity{
    display: block;
}
.activity h3 {
    margin: 50px 0 25px 50px;
    font-size: 22px;
}
 .titleActivity{
    font-size: 22px;
    margin-bottom: 0px;
}
 .activityMarseille{
    display: flex;
    width: 100%;
}
 .card-activity{
    margin: 20px;
    margin-bottom: 30px;
}
.nameActivity {
    margin-bottom: 10px;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 0px;
}

/************/
    
 /***FOOTER***/
 footer {
    display: flex;
    margin-left: 0;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}
 
 .footer-left,
 .footer-middle,
 .footer-right{
    padding: 1rem;
}
/************/


/******************/
/***HOVER***/
/***MENU***/
.menu :hover{
    border-top: none;
    color: #0065FC;
}
.menu a:hover{
    border-bottom:none;
}

/**SEARCHBAR**/
.btn-search:hover{
    box-shadow: none;
    color: #0065FC;
    background-color: #DEEBFF;

}

/**FILTRES**/

.btn:hover {
    color: #0065FC;
}

/**CARD**/
/**Hebergement**/
.card-hebr:hover {
    color: #0065FC;
    box-shadow: 0 0 8px #0065FC;
  }
/**Populaire**/
.card-pop:hover {
    color: #0065FC;
    box-shadow: 0 0 8px #0065FC;
  }
/**Activités**/
.card-activity:hover {
    color: #0065FC;
    box-shadow: 0 0 8px #0065FC;
}
footer p:hover {
    color: #0065FC;
}
 /**********/
}






  /************/
 /***Mobile***/
/************/ 
@media screen and (max-width:767px){
    
/***LOGO+NAV***/
header {
    display: block;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
nav{
    border-bottom: 2px solid #f2f2f2;
}
nav a {
    display: flex;
    justify-content: center;
}
.menu{
    justify-content: center;
    font-size: 14px;
}
/************/


/**TITRE**/
.searchBar h1  {
    font-size: 22px;
    margin: 0px;
    margin-top: 10px;
}
/************/


/**BARRE NAV**/

#input-search{
    border: 1px solid #D2D2D2;
    font-size: 13px;
    font-weight: bold;
    padding: 9px 1px 7px 2px;
    margin-left: 0px;
    opacity: 40%;
    width: 48%;
    
}
.fa-solid.fa-magnifying-glass{
    display: flex;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0;
    padding: 1px 0 1px 10px;
    margin-left: -5px ;
}
button span{
    display: none;
}
.btn-search button:hover{
    box-shadow: none;
}
/************/


/***FILTRE***/
.Filters{
    display: block;
    margin-left: 20px;
    margin-top: 15px;
    width: 95%;
}
.Filters label{
    font-weight: bold;
    margin: 10px;
}
.btnFilter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0px;
}
.btnFilter .fa-solid{
    margin: 8px;
}
.btn {
    font-weight: bold;
    margin: 2px;
    padding: 0;
    width: 45%;
    font-size: 8px;
}
/************/


/***INFO ***/
.info i{
   font-size: 12px;
   margin-right: 5px;
}
.info p{
    font-size: 14px;
    margin-left: 5px;
    margin-right: 25px;
    margin-top: 20px;
}
/************/


/***HEBERGEMENT&POPULAIRE***/
.all-accomodation{
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
}
/***HEBERGEMENT***/
.accomMars{
    background-color: white;
    display: block;
    width: 100%;
}
.accomMars h2{
    font-size: 22px;
    margin-left: 20px;
}
.mars-hotels{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card-hebr{
    width: 90%;
    object-fit: cover;
    margin-left: 10px;
}
.card-hebr img{
    width: 100%;
}
.more {
    display: none;
}
/***POPULAIRE***/
.pop-mars{
    width: 100%;
    border-radius: 0;
    padding: 0;
}
.pop-mars-title{
    font-size: 22px;
    margin: 25px;
    display: flex;
    justify-content: space-between;
}
.pop-mars-title i {
    margin: 0;
}
.card-pop{
    width: 90%;
    margin-left: 10px;
}
.card-pop img{
    object-fit: cover;
    margin-left: 0px;
}
.card-descr{
    font-size: 14px;
    padding-left: 15px;
    padding-top: 5px;
    /* margin: 0; */
}
.card-descr p{
    margin-top: 10px;
    font-size: 13px;
}
.card-star{
    padding-top: 0px;
}
/************/


/***ACTIVITE***/
.activity{
    display: block;
}
.activity h3 { 
    font-size: 22px;
    margin-left: 15px;
    margin-bottom: 0px;
}
.activityMarseille{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 30px;
}
.card-activity{
    width: 95%;
    margin-top: 27px;
    margin-left: 0px;
}
/************/


/***FOOTER***/
footer {
    flex-direction: column;
    margin-left: 0;
}
footer h4 {
    margin-top: 30px;
    font-size: 16px;
}
.footer-left,
.footer-middle,
.footer-right{
margin: 5px 0 0 20px;
width: 100%;
}
/************/


 /**********/
/***HOVER***/
/***MENU***/
.menu :hover{
    border-top: none;
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
}
.menu a:hover{
    border-bottom:none;
}

/**SEARCHBAR**/
.btn-search:hover {
    box-shadow: none;
}

/**FILTRES**/

.btn:hover {
    color: #0065FC;
}

/**CARD**/
/**Hebergement**/
.card-hebr:hover {
    transform: none;
    color: #0065FC;
    box-shadow: 0 0 8px #0065FC;
  }
/**Populaire**/
.card-pop:hover {
    transform: none;
    color: #0065FC;
    box-shadow: 0 0 8px #0065FC;
  }
/**Activités**/
.card-activity:hover {
    transform: none;
    color: #0065FC;
    box-shadow: 0 0 8px #0065FC;
}
footer p:hover {
    color: #0065FC;
}
 /**********/
}
